$white: #FFFFFF;
$black: #202020;
$black-light: #4A4A4A;
$grey: #4A4A4A;
$orange: #FF6E30;
$active: #CE4307;
$hover: #BC572B;
$text-background: #FFD4C1;
$grey-light: #CACACA;
$grey-text: #999999;
$white-grey: #E9E9E9;
