.hero {
  max-height: 80vh;
  height: 100%;

  background-image: url("../images/hero__image.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  position: relative;
  
  @media (max-width: 950px) {
    background-size: cover;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: rgba(255, 255, 255, .5);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/doth.png") bottom center no-repeat;
    opacity: .5;
    z-index: 1;
    width: 50%;
    height: 100%;
  }

  &__container {
    height: 100%;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__content {
    max-width: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  &__title {
    text-align: center;
    color: $c-black;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
    text-transform: capitalize;
    text-shadow: 1px 1px 5px $c-black;

    @media (max-width: 800px) {
      font-size: 50px;
      line-height: 1;
    }

    @media (max-width: 440px) {
      font-size: 30px;
    }

    &--yellow {
      color: $c-yellow;
    }
  }

  &__btn {
    background: $c-blue;
    color: $c-white;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    padding: 10px;
    border: none;
    max-width: 300px;
    width: 100%;
    text-align: center;

    @media (max-width: 440px) {
      font-size: 18px;
    }
  }
}